{% fragment 'headers/full' %}

<main>
    <div class="container">
        <section class="banner">
            <h1 class="banner__title" data-text="products_title">{{ products_title }}</h1>
            <span class="banner__subtitle">{{ products | size }} Products Found</span>
        </section>

        <section class="products products--all">
            {% for product in products %}
                <a class="products__product" href="{{ product.slug | product_url }}">
                    <img class="products__image" src="{{ product.images[0].path | cdn_url }}" alt="{{ product.name }}" />

                    <div class="products__info">
                        <div>
                            <h3 class="products__name">{{ product.name }}</h3>
                            <span class="products__stock">{{ product.stock }} In Stock</span>
                        </div>

                        {% if product.available %}
                            <span class="products__price">{{ product.price |  money }}</span>
                        {% else %}
                            <span class="products__action--oos">Out of Stock</span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </section>
    </div>
</main>

{% fragment 'footers/absolute' %}
